*{
    font-family: 'Trebuchet MS',sans-serif;
}
body{
    width: 100vw;
}
aside{
    background-color: #C5CAE9;
    width: 40%;
    height: 600px;
    overflow: auto;
    float: left;
}
#s1,#s2{
    width: 60%;
    height: 300px;
    float: right;
}
#s1{
    background-color: #9FA8DA;
}
#s2{
    background-color: #7986CB;
}
footer{
    background-color: #283593;
    color: white;
    padding: 20px;
}
.opona{
    background-color: #9FA8DA;
}
img{
    float: left;
    padding: 20px;
}
h2{
    text-align: center;
    margin: 0px;
    padding: 15px;
}
h3{
    background-color: #7986CB;
    color: white;
    font-size: 140%;
}