*{
    font-family: Georgia;
}
header,footer{
    background-color: #1B5E20;
    color:white;
    text-align: center;
    padding: 5px;
}
main{
    display: flex;
}
article{
    background-image: url('obraz1.jpg');
    color: dimgray;
    font-size: 150%;
    height: 350px;
    overflow:scroll;
}
section{
    background-color: #00E676;
    color: #1B5E20;
    width: 28%;
    height: 560px;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 8px 8px 6px dimgray;
}
section:hover{
    background-color: #10EF84;
}
p:hover{
    color: black;
}
h2,h3{
    color:#1B5E20;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 20px;
}
ul{
    list-style-type: none;
    list-style-image: url('obraz3.png');
}